@{
    Layout = null;
}

<html>
<head>
    <title>Login Failed</title>
    <style>
        #aa {
            border-radius: 25px;
            border: 2px solid red;
            padding: 50px 125px;
            width: 250px;
            height: 100px;
            color: forestgreen;
            text-align: center;
            font-size: 25px;
            margin-left: 25%;
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <div id="aa">@ViewBag.message</div>
</body>
</html>